@import url('https://fonts.googleapis.com/css?family=Marck+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Patrick+Hand&display=swap');

html{
    background: rgba(0, 0, 0, 0.664);
    /* background-image: url(../img/background2.gif);
    background-repeat: repeat; */
}
#logo {
    float: left;
    height: 60px;
    width: 80px;
    margin: -55px 30px 0px 30px;
    border-radius: 30%;
}
#logo:hover{
    width: 90px;
    height: 70px;
    transition: 900ms;
}
header nav{
    /* position: fixed; */
    background: rgba(0, 0, 0, 0.76);
    color: white;
    height: 60px;
    padding: 10px;
   
}
#navv li:hover{
    color: teal;
    background: rgba(253, 252, 253, 0.726);
    height: 30px;
    width: 30px;
    transition: 850ms;
}
#navv {
    
    margin-left: 80px;
}
#navv li a{
    
    text-decoration: none;
    color: rgb(247, 243, 247);
}
#navv li a:hover{
    color: teal;
}
#navv li {
    display: inline;
    padding: 20px;
    text-align: center;
    font:bolder;
    font-size: 20px;
}
#contactus{
    float: right;
    
    margin: -30px 35px 0px 0px;
    padding: -20px;
    
}
#contactus li{
    display: inline;
    padding: 5px;
    text-align: center;
    font:bolder;
    font-size: 20px;
}
.imgs:hover{
    background: none;
    transform: scale(0.9);

}
.imgs{
    padding: -35px;
    width: 30px;
    height: 30px;
}
footer {
    clear: both;
    background: rgba(0, 0, 0, 0.829);
    margin-top:20pc;
    padding: 30px;
    border: white;
    color: white;
    text-align: center;
}                          

     h1  {
        font-family: 'Marck Script', cursive;
    }
    #img-circleq{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        float: right;
        margin-top: -30px
    }
    #img-circlea{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        float: left;
        margin-top: -40px
    }
    #img-circleh{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        float: right;
        margin-top: -40px
    }
    #img-circles{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        float: left;
        margin-top: -30px;
        
    }
   
    #qusia{
        border:solid;
        width: 50pc;
        height: 20pc;
        font-size: 20px;
        border-radius: 30%;
        margin: 50px 0px 30px 60px;
        float: right;
        margin-right:100px;
        background: rgba(0, 0, 0, 0.836);
        color: rgba(248, 247, 246, 0.918);
    }
    
    #ashar{
        border:solid;
        width: 55pc;
        height: 20pc;
        font-size: 20px;
        border-radius: 30%;
        margin: 30px 0px 30px 60px;
        float: left;
        margin-left:100px;
        background: rgba(5, 82, 82, 0.938);
        color: rgba(248, 247, 246, 0.918);
    }
    #hawamdeh{
        border:solid;
        width: 55pc;
        height: 20pc;
        font-size: 20px;
        border-radius: 30%;
        margin: 30px 0px 30px 60px;
        float: right;
        margin-right:100px;
        background: rgba(0, 0, 0, 0.836);
        color: rgba(248, 247, 246, 0.918);
    }
    #sboul{
        border:solid;
        width: 55pc;
        height: 20pc;
        font-size: 20px;
        border-radius: 30%;
        margin: 30px 0px 30px 60px;
        float: left;
        margin-left:100px;
        background:rgba(5, 82, 82, 0.938);
        color: rgba(248, 247, 246, 0.918);
    }

    #qusia p{
        width: 35pc;
        font-size: 28px;
        padding: 20px;
        margin: 60px;
        font-family: 'Patrick Hand', cursive;
       }
    #ashar p{
    
       width: 45pc;
       font-size: 23px;
       padding: 20px;
       margin: 70px;
       font-family: 'Patrick Hand', cursive;
}
    #sboul p{
       width: 45pc;
       font-size: 23px;
       padding: 20px;
       margin: 70px;
       font-family: 'Patrick Hand', cursive;
   }

   #hawamdeh p{
       width: 45pc;
       font-size: 23px;
       padding: 20px;
       margin: 70px;
       font-family: 'Patrick Hand', cursive;
   }
  #qusia a{
       text-decoration: none;
       color: rgba(248, 248, 248, 0.938);
       background: rgba(10, 78, 78, 0.856);
       border-radius: 20%;
       padding: 8px;
       float: right;
       margin-top: 15px;
   }
   #qusia a:hover{
       transform: scale(1.1);
       transition: 860ms;
   }
   #ashar a{
    text-decoration: none;
    color: rgba(248, 248, 248, 0.938);
    background: rgba(6, 12, 12, 0.856);
    border-radius: 20%;
    padding: 10px;
    float: left;
    margin-top: 15px;
}
#ashar a:hover{
    transform: scale(1.1);
    transition: 860ms;
}
#hawamdeh a{
    text-decoration: none;
    color: rgba(248, 248, 248, 0.938);
    background: rgba(10, 78, 78, 0.856);
    border-radius: 20%;
    padding: 11px;
    float: right;
    margin-top: 15px;
}
#hawamdeh a:hover{
    transform: scale(1.1);
    transition: 860ms;
}
#sboul a{
    text-decoration: none;
    color: rgba(248, 248, 248, 0.938);
    background: rgba(6, 12, 12, 0.856);
    border-radius: 20%;
    padding: 9px;
    float: left;
    margin-top: 15px;
}
#sboul a:hover{
    transform: scale(1.1);
    transition: 860ms;
}

#forh1{
    position: absolute;
top:25%;
left:38%;
font-size: 30px;
}
#forh1:hover{
    color: rgb(9, 80, 80);
    transform: scale(1.2);
    transition: 850ms;
}
#forh2{
    position: absolute;
top:84%;
left:18%;
font-size: 30px;
}
#forh2:hover{
    color: rgb(8, 1, 6);
    transform: scale(1.2);
    transition: 850ms;
}
#forh3{
    position: absolute;
top:142%;
left:31%;
font-size: 30px;
}
#forh3:hover{
    color: rgb(9, 80, 80);
    transform: scale(1.2);
    transition: 850ms;
}
#forh4{
    position: absolute;
top:200%;
left:18%;
font-size: 30px;
}
#forh4:hover{
    color: rgb(8, 1, 6);
    transform: scale(1.2);
    transition: 850ms;
}