@import url('https://fonts.googleapis.com/css?family=Calistoga&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
html{
    background: rgba(0, 0, 0, 0.137);
    background-image: url(../img/background.jpg);
}
#logo {
    float: left;
    height: 60px;
    width: 80px;
    margin: -55px 30px 0px 30px;
    border-radius: 30%;
}
#logo:hover{
    width: 90px;
    height: 70px;
    transition: 900ms;
}
header nav{
    /* position: fixed; */
    background: rgba(0, 0, 0, 0.76);
    color: white;
    height: 80px;
    padding: 10px;
   
}
#navv li:hover{
    color: rgb(14, 92, 92);
    background: rgba(253, 252, 253, 0.726);
    height: 30px;
    width: 30px;
    transition: 850ms;
}
#navv {
    
    margin-left: 80px;
}
#navv li a{
    
    text-decoration: none;
    color: rgb(247, 243, 247);
}
#navv li a:hover{
    color: teal;
}
#navv li {
    display: inline;
    padding: 20px;
    text-align: center;
    font:bolder;
    font-size: 20px;
}
#contactus{
    float: right;
    margin: -45px 35px 0px 0px;
    padding: -20px;
    
}
#contactus li{
    display: inline;
    padding: 5px;
    text-align: center;
    font:bolder;
    font-size: 20px;
}
.imgs:hover{
    background: none;
    transform: scale(0.9);

}
.imgs{
    padding: -35px;
    width: 30px;
    height: 30px;
}
footer {
    clear: both;
    background: rgba(0, 0, 0, 0.829);
    margin-top:20pc;
    padding: 30px;
    border: white;
    color: white;
    text-align: center;
} 
  .fade, .mySlides1Fade1, .mySlides2Fade2, .mySlides3Fade3, .mySlides4Fade4 , .mySlides5Fade5, .mySlides6Fade6, .mySlides7Fade7, .mySlides8Fade8, .mySlides9Fade9, .mySlides10Fade10, .mySlides11Fade11, .mySlides12Fade12, .mySlides13Fade13, .mySlides14Fade14, .mySlides15Fade15 {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
/* Slideshow container */
.slideshow-container,.slideshow1-container,.slideshow2-container,.slideshow3-container,.slideshow4-container,.slideshow5-container,.slideshow6-container,.slideshow7-container,.slideshow8-container,.slideshow9-container,.slideshow10-container,.slideshow11-container,.slideshow12-container,.slideshow13-container,.slideshow14-container,.slideshow15-container{
  max-width: 500px;
  max-height: 500px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */


/* CHANGE IS DONE HERE, PREVIOUS IS .mySlides */
.mySlides, .mySlides1Fade1, .mySlides2Fade2, .mySlides3Fade3, .mySlides4Fade4, .mySlides5Fade5, .mySlides6Fade6, .mySlides7Fade7, .mySlides8Fade8, .mySlides9Fade9, .mySlides10Fade10, .mySlides11Fade11, .mySlides12Fade12, .mySlides13Fade13, .mySlides14Fade14, .mySlides15Fade15 {
  display: none;
}

/* Next & previous buttons */
.prev, .next, .prev1, .next1, .prev2, .next2, .prev3, .next3, .prev4, .next4, .prev5, .next5, .prev6, .next6, .prev7, .next7, .prev8, .next8, .prev9, .next9, .prev10, .next10, .prev11, .next11, .prev12, .next12, .prev13, .next13, .prev14, .next14, .prev15, .next15{
  cursor: pointer;
   position: absolute;
  top: 30%; 
  width: auto;
  margin-top: 4pc;
  padding: 30px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next, .next1, .next2, .next3, .next4, .next5, .next6, .next7, .next8, .next9, .next10, .next11, .next12, .next13, .next14, .next15{
  left: 207%;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover, .prev1:hover, .next1:hover, .prev2:hover, .next2:hover, .prev3:hover, .next3:hover, .prev4:hover, .next4:hover, .prev5:hover, .next5:hover, .prev6:hover, .next6:hover, .prev7:hover, .next7:hover, .prev8:hover, .next8:hover, .prev9:hover, .next9:hover, .prev10:hover, .next10:hover, .prev11:hover, .next11:hover, .prev12:hover, .next12:hover, .prev13:hover, .next13:hover, .prev14:hover, .next14:hover, .prev15:hover, .next15:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    background: rgba(0, 0, 0, 0.527);
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px;
  position: absolute; 
  top: 80%;
    left: 19%;
  width: 190%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

main{
    background:rgba(0, 0, 0, 0.562);
    /* display: block; */
}
.clearfix{
    clear: both;
}

#ayah {
    font-family: 'Lato', sans-serif;
    border-radius: 3%;
    color: rgba(51, 146, 102, 0.822); 
    text-align: center;
    padding: 1%;
    border: thin black solid;
    background-color: rgba(255,255,255,.9);
}
#ayaP{
    height: 20pc;
    width: 30pc;
    overflow: auto;
    font-size: 20px;
    /* margin-top: pc; */
    margin-right: 20px;
    padding: 30px 60px 40px 35px;
    text-align: center;
    float: right;
    background-color: rgba(46, 117, 102, 0.77);
    color: white;
    border-radius: 1%;
    font-family: 'Lato', sans-serif;  
}

.slideshow-container{
    display: block;
    float: left;
    margin: 3pc 10pc 0pc 7pc;
}
iframe {
    float: left;
    width: 38pc;
    height: 24pc;
    margin:2pc -2pc 0pc 4pc;
    border-radius: 3%;
}                

#tajh{
    font-family: 'Lato', sans-serif;
    border-radius: 3%;
    color: rgba(51, 146, 102, 0.822);
    margin-top: 6%;
    padding: 1%;
    text-align: center;
    border: thin black solid;
    background-color: rgba(255,255,255,.9);
}
#tajP{
    height: 20pc;
    width: 30pc;
    overflow: auto;
    font-size: 20px;
    /* margin-top: pc; */
    margin-right: 20px;
    padding: 30px 60px 40px 35px;
    text-align: center;
    float: right;
    background-color: rgba(46, 117, 102, 0.77);
    color: white;
    border-radius: 1%;
    font-family: 'Lato', sans-serif;    
} 
.slideshow1-container{
    display: block;
    float: left;
    margin: 3pc 10pc 0pc 7pc;
}
#qudsh{
    font-family: 'Lato', sans-serif;
    border-radius: 3%;
    color: rgba(51, 146, 102, 0.822);
    padding: 1%;
    text-align: center;
    border: thin black solid;
    background-color: rgba(255,255,255,.9);  
}                 
#qudsP{
    height: 20pc;
    width: 30pc;
    overflow: auto;
    font-size: 20px;
    /* margin-top: pc; */
    margin-right: 20px;
    padding: 30px 60px 40px 35px;
    text-align: center;
    float: right;
    background-color: rgba(46, 117, 102, 0.77);
    color: white;
    border-radius: 1%;
    font-family: 'Lato', sans-serif;
}
.slideshow2-container{
    display: block;
    float: left;
    margin: 3pc 10pc 0pc 7pc;
}
#Makkahh{
    font-family: 'Lato', sans-serif;
    border-radius: 3%;
    color: rgba(51, 146, 102, 0.822);
    padding: 1%;
    text-align: center;
    border: thin black solid;
    background-color: rgba(255,255,255,.9);
} 

#MakkahP{
    height: 20pc;
    width: 30pc;
    overflow: auto;
    font-size: 20px;
    /* margin-top: pc; */
    margin-right: 20px;
    padding: 30px 60px 40px 35px;
    text-align: center;
    float: right;
    background-color: rgba(46, 117, 102, 0.77);
    color: white;
    border-radius: 1%;
    font-family: 'Lato', sans-serif;
}
.slideshow3-container{
    display: block;
    float: left;
    margin: 3pc 10pc 0pc 7pc;
}
#WadiRumh{
    font-family: 'Lato', sans-serif;
    border-radius: 3%;
    color: rgba(51, 146, 102, 0.822);
    padding: 1%;
    text-align: center;
    border: thin black solid;
    background-color: rgba(255,255,255,.9);
}
#WadiRumP{
    height: 20pc;
    width: 30pc;
    overflow: auto;
    font-size: 20px;
    /* margin-top: pc; */
    margin-right: 20px;
    padding: 30px 60px 40px 35px;
    text-align: center;
    float: right;
    background-color: rgba(46, 117, 102, 0.77);
    color: white;
    border-radius: 1%;
    font-family: 'Lato', sans-serif;
}
.slideshow4-container{
    display: block;
    float: left;
    margin: 3pc 10pc 0pc 7pc;
}
#MountEveresth{
    font-family: 'Lato', sans-serif;
    border-radius: 3%;
    color: rgba(51, 146, 102, 0.822);
    padding: 1%;
    text-align: center;
    border: thin black solid;
    background-color: rgba(255,255,255,.9);
}
#MountEverestP{
    height: 20pc;
    width: 30pc;
    overflow: auto;
    font-size: 20px;
    /* margin-top: pc; */
    margin-right: 20px;
    padding: 30px 60px 40px 35px;
    text-align: center;
    float: right;
    background-color: rgba(46, 117, 102, 0.77);
    color: white;
    border-radius: 1%;
    font-family: 'Lato', sans-serif;
}
.slideshow5-container{
    display: block;
    float: left;
    margin: 3pc 10pc 0pc 7pc;
}
#CapeTownh{
    font-family: 'Lato', sans-serif;
    border-radius: 3%;
    color: rgba(51, 146, 102, 0.822);
    padding: 1%;
    text-align: center;
    border: thin black solid;
    background-color: rgba(255,255,255,.9);  
}
#CapeTownP{
    height: 20pc;
    width: 30pc;
    overflow: auto;
    font-size: 20px;
    /* margin-top: pc; */
    margin-right: 20px;
    padding: 30px 60px 40px 35px;
    text-align: center;
    float: right;
    background-color: rgba(46, 117, 102, 0.77);
    color: white;
    border-radius: 1%;
    font-family: 'Lato', sans-serif;
}
.slideshow6-container{
    display: block;
    float: left;
    margin: 3pc 10pc 0pc 7pc;
}
#AquaClubh{
    font-family: 'Lato', sans-serif;
    border-radius: 3%;
    color: rgba(51, 146, 102, 0.822);
    padding: 1%;
    text-align: center;
    border: thin black solid;
    background-color: rgba(255,255,255,.9);    
}
#AquaClubP{
    height: 20pc;
    width: 30pc;
    overflow: auto;
    font-size: 20px;
    /* margin-top: pc; */
    margin-right: 20px;
    padding: 30px 60px 40px 35px;
    text-align: center;
    float: right;
    background-color: rgba(46, 117, 102, 0.77);
    color: white;
    border-radius: 1%;
    font-family: 'Lato', sans-serif;
}
.slideshow7-container{
    display: block;
    float: left;
    margin: 3pc 10pc 0pc 7pc;
}
#petrah{
    font-family: 'Lato', sans-serif;
    border-radius: 3%;
    color: rgba(51, 146, 102, 0.822);
    padding: 1%;
    text-align: center;
    border: thin black solid;
    background-color: rgba(255,255,255,.9); 
}
#petraP{
    height: 20pc;
    width: 30pc;
    overflow: auto;
    font-size: 20px;
    /* margin-top: pc; */
    margin-right: 20px;
    padding: 30px 60px 40px 35px;
    text-align: center;
    float: right;
    background-color: rgba(46, 117, 102, 0.77);
    color: white;
    border-radius: 1%;
    font-family: 'Lato', sans-serif;
}
.slideshow8-container{
    display: block;
    float: left;
    margin: 3pc 10pc 0pc 7pc;
}
#Chinah{
    font-family: 'Lato', sans-serif;
    border-radius: 3%;
    color: rgba(51, 146, 102, 0.822);
    padding: 1%;
    text-align: center;
    border: thin black solid;
    background-color: rgba(255,255,255,.9);   
}
#ChinaP{
    height: 20pc;
    width: 30pc;
    overflow: auto;
    font-size: 20px;
    /* margin-top: pc; */
    margin-right: 20px;
    padding: 30px 60px 40px 35px;
    text-align: center;
    float: right;
    background-color: rgba(46, 117, 102, 0.77);
    color: white;
    border-radius: 1%;
    font-family: 'Lato', sans-serif;
}
.slideshow9-container{
    display: block;
    float: left;
    margin: 3pc 10pc 0pc 7pc;
}
#pyramidsh{
    font-family: 'Lato', sans-serif;
    border-radius: 3%;
    color: rgba(51, 146, 102, 0.822);
    padding: 1%;
    text-align: center;
    border: thin black solid;
    background-color: rgba(255,255,255,.9);
}
#pyramidsP{
    height: 20pc;
    width: 30pc;
    overflow: auto;
    font-size: 20px;
    /* margin-top: pc; */
    margin-right: 20px;
    padding: 30px 60px 40px 35px;
    text-align: center;
    float: right;
    background-color: rgba(46, 117, 102, 0.77);
    color: white;
    border-radius: 1%;
    font-family: 'Lato', sans-serif; 
}
.slideshow10-container{
    display: block;
    float: left;
    margin: 3pc 10pc 0pc 7pc;
}
#romeh{
    font-family: 'Lato', sans-serif;
    border-radius: 3%;
    color: rgba(51, 146, 102, 0.822);
    padding: 1%;
    text-align: center;
    border: thin black solid;
    background-color: rgba(255,255,255,.9);
}
#romeP{
    height: 20pc;
    width: 30pc;
    overflow: auto;
    font-size: 20px;
    /* margin-top: pc; */
    margin-right: 20px;
    padding: 30px 60px 40px 35px;
    text-align: center;
    float: right;
    background-color: rgba(46, 117, 102, 0.77);
    color: white;
    border-radius: 1%;
    font-family: 'Lato', sans-serif;

}
.slideshow11-container{
    display: block;
    float: left;
    margin: 3pc 10pc 0pc 7pc;
}
#dubaih{
    font-family: 'Lato', sans-serif;
    border-radius: 3%;
    color: rgba(51, 146, 102, 0.822);
    padding: 1%;
    text-align: center;
    border: thin black solid;
    background-color: rgba(255,255,255,.9);
}
#dubaiP{
    height: 20pc;
    width: 30pc;
    overflow: auto;
    font-size: 20px;
    /* margin-top: pc; */
    margin-right: 20px;
    padding: 30px 60px 40px 35px;
    text-align: center;
    float: right;
    background-color: rgba(46, 117, 102, 0.77);
    color: white;
    border-radius: 1%;
    font-family: 'Lato', sans-serif;
    
}
.slideshow12-container{
    display: block;
    float: left;
    margin: 3pc 10pc 0pc 7pc;
}
#malaysiah{
    font-family: 'Lato', sans-serif;
    border-radius: 3%;
    color: rgba(51, 146, 102, 0.822);
    padding: 1%;
    text-align: center;
    border: thin black solid;
    background-color: rgba(255,255,255,.9);
}
#malaysiaP{
    
    height: 20pc;
    width: 30pc;
    overflow: auto;
    font-size: 20px;
    /* margin-top: pc; */
    margin-right: 20px;
    padding: 30px 60px 40px 35px;
    text-align: center;
    float: right;
    background-color: rgba(46, 117, 102, 0.77);
    color: white;
    border-radius: 1%;
    font-family: 'Lato', sans-serif; 
}
.slideshow13-container{
    display: block;
    float: left;
    margin: 3pc 10pc 0pc 7pc;
}
#norwayh{
    font-family: 'Lato', sans-serif;
    border-radius: 3%;
    color: rgba(51, 146, 102, 0.822);
    padding: 1%;
    text-align: center;
    border: thin black solid;
    background-color: rgba(255,255,255,.9);
}
#norwayP{
    height: 20pc;
    width: 30pc;
    overflow: auto;
    font-size: 20px;
    /* margin-top: pc; */
    margin-right: 20px;
    padding: 30px 60px 40px 35px;
    text-align: center;
    float: right;
    background-color: rgba(46, 117, 102, 0.77);
    color: white;
    border-radius: 1%;
    font-family: 'Lato', sans-serif;
    
}
.slideshow14-container{
    display: block;
    float: left;
    margin: 3pc 10pc 0pc 7pc;
}
#turkeyh{
    font-family: 'Lato', sans-serif;
    border-radius: 3%;
    color: rgba(51, 146, 102, 0.822);
    padding: 1%;
    text-align: center;
    border: thin black solid;
    background-color: rgba(255,255,255,.9);
}
#turkeyP{
    height: 20pc;
    width: 30pc;
    overflow: auto;
    font-size: 20px;
    /* margin-top: pc; */
    margin-right: 20px;
    padding: 30px 60px 40px 35px;
    text-align: center;
    float: right;
    background-color: rgba(46, 117, 102, 0.77);
    color: white;
    border-radius: 1%;
    font-family: 'Lato', sans-serif;
}
.slideshow15-container{
    display: block;
    float: left;
    margin: 3pc 10pc 0pc 7pc;
}