html{
    background: rgba(0, 0, 0, 0.137);
}
#logo {
    float: left;
    height: 60px;
    width: 80px;
    margin: -55px 30px 0px 30px;
    border-radius: 30%;
}
#logo:hover{
    width: 90px;
    height: 70px;
    transition: 900ms;
}
header nav{
    /* position: fixed; */
    background: rgba(0, 0, 0, 0.76);
    color: white;
    height: 60px;
    padding: 10px;
   
}
#navv li:hover{
    color: rgb(23, 83, 83);
    background: rgba(253, 252, 253, 0.726);
    height: 30px;
    width: 30px;
    transition: 850ms;
}
#navv {
    
    margin-left: 80px;
}
#navv li a{
    
    text-decoration: none;
    color: rgb(247, 243, 247);
}
#navv li a:hover{
    color: rgb(21, 88, 88);
}
#navv li {
    display: inline;
    padding: 20px;
    text-align: center;
    font:bolder;
    font-size: 20px;
}
#contactus{
    float: right;
    
    margin: -30px 35px 0px 0px;
    padding: -20px;
    
}
#contactus li{
    display: inline;
    padding: 5px;
    text-align: center;
    font:bolder;
    font-size: 20px;
}
.imgs:hover{
    background: none;
    transform: scale(0.9);

}
.imgs{
    padding: -35px;
    width: 30px;
    height: 30px;
}
footer {
    clear: both;
    background: rgba(0, 0, 0, 0.829);
    margin-top:20pc;
    padding: 30px;
    border: white;
    color: white;
    text-align: center;
} 
main{
      margin-top: 20px;
    background-image: url(../img/background.jpg);
     background-position: center;
   background-repeat: no-repeat;
   height: 52pc;
   background-size: cover;
}  
form{
    float: left;
    margin: 30px 0px 0px 40px;
    background: rgba(0, 0, 0, 0.637);
    text-align: center;
    width: 80pc;
    height: 47pc;
    border-radius: 10%;
    color: rgba(255, 255, 255, 0.849);
} 
fieldset{
   
    /* float: left; */
    margin: 10px 0px 10px 170px;
    width: 55pc;
    height: 43pc;
    border-radius: 20%;
    font-size: 24px;
    font-family: 'Varela Round', sans-serif;
} 
label{
    width: 80%;
    margin-top: 20px;
    list-style-type: square;
    float: left;
    margin-right: 290px;
    margin-left: 25px;
    font-size: 26px;
    font-family: 'Varela Round', sans-serif;
    
}
input {

    padding: 55px;
} 
#name{
        width: 10pc;
        padding: 15px;
} 
#travelPurpose{
    list-style-type: none;
    border: solid;
    text-align: left;
    padding: 5px;
    margin: 5px;
}

#partner{
    padding: 20px;
    margin: 10px;
}
#submit{
    width: 20pc;
    padding: 20px;
    margin-top: 20px;
        background: rgba(22, 114, 114, 0.856);
        margin: 20px;
        padding: 20px; 
        border-radius: 20%;
        font-size: 20px;
        font-style: italic;
        font: bolder;
}
#submit:hover{
    transform: scale(1.1);
    color: rgba(247, 248, 248, 0.856);
    transition: 850ms;
}                                         